<canvas id="confetti"></canvas>

<section class="instructions congrats-text">
  <h1>Congratulations!</h1>
  <div class="text-center"><%= image_tag "mac_steps/congrats_sam.png", class: "congrats-sam", style: 'display:inline;' %></div>

  <h2>Ready to code?</h2>
  <p><%= link_to 'Log into Founder/Hacker', 'https://www.founderhacker.com/login' %> and continue to the next lecture.</p>

  <h2>Still having issues?</h2>
  <p>Email <%= mail_to 'code@founderhacker.com', 'code@founderhacker.com' %>.</p>
</section>

<%= render partial: "layouts/fork_me" %>
