<a href="https://github.com/onemonth/install_rails"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

<header id="header" class="site-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">

          <div class="header-description">
            <h1>Install Rails:<br><span style="font-size: 45px;"> A step-by-step guide</span></h1>
            <%= link_to "Start now", install_steps_path, class: "header-btn" %>
          </div><!-- /header-description -->

          <div class="header-features">
            <div class="row">
              <div class="col-sm-6 header-feature">
                <h3><i class="icon-random"></i> &nbsp; What is it?</h3>
                <p>InstallRails.com is the easier way to install Rails on your computer.</p>
              </div>
              <div class="col-sm-6 header-feature">
                <h3> <i class="icon-group"></i> &nbsp; How does it work?</h3>
                <p>There's no magic here. We use all of the standard tools that professional developers use - we just explain it in a way that's compact and easy to understand!</p>
              </div>
            </div>
          </div><!-- /header-features -->

        </div><!-- /col-12 -->
      </div><!-- /row-fluid -->
    </div><!-- /container -->
  </header>


<section id="features" class="features">
  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <div class="feature" style="border-left: none;">
          <i class="icon-globe icon-2x pull-left"></i>
          <h4>Over 10,000+</h4>
          <p>The number of people using InstallRails.com grows everyday!</p>
        </div>
      </div><!-- /col-3 -->

      <div class="col-sm-3">
        <div class="feature">
          <i class="icon-laptop icon-2x pull-left" style="margin-top: 0.2em;"></i>
          <h4>Does it work on Mac, Windows, and Linux?</h4>
          <p>Yes! The guide shows you how to install rails and related gems on any operating system.</p>
        </div>
      </div><!-- /col-3 -->


      <div class="col-sm-3">
        <div class="feature">
          <i class="icon-wrench icon-2x pull-left"></i>
          <h4>What gets installed?</h4>
          <p>Rails, Git, SQLite, RVM, Rails Installer, Sublime Text and in some cases XCode.</p>
        </div>
      </div><!-- /col-3 -->

      <div class="col-sm-3">
        <div class="feature">
          <i class="icon-thumbs-up icon-2x pull-left"></i>
          <h4>Who Made This?</h4>
          <p>
            <a href="https://twitter.com/mattangriffel/" target="_blank">
              @mattangriffel
            </a>,
            <a href="https://twitter.com/castig/" target="_blank">
              @castig
            </a>,
            <a href="https://twitter.com/gdi2290/" target="_blank">
              @gdi2290
            </a> and all the folks at One Month where you can <a href="http://www.onemonth.com/courses/rails">learn Ruby on Rails</a> in 30 days
           </p>
        </div>
      </div><!-- /col-3 -->

    </div><!-- /row-fluid -->
  </div><!-- /container -->
</section>

<footer id="footer" class="footer">
  <div class="container">
    <div class="row-fluid">
      <div class="col-sm-12">
        <h1 class="footer-title pull-left"><a href="/steps"><i class="icon-beaker"></i>Install Rails | A How To Guide</a></h1>


        <div class="pull-right copyright col-sm-3">
          <%= link_to image_tag("logo-one-month-blue.svg", :id=>"license", :alt => "One Month, inc.", width: 200),"https://onemonth.com" %>
        </div>
      </div>
    </div>
  </div>
</footer>
<script>
 mixpanel.track("Viewed Homepage");
</script>
