<% content_for(:header) do %>
  <header>
    <div class="container">
      <%= link_to (content_tag(:i, nil, class: "icon-beaker") + " InstallRails.com"), root_path, class: "site-title" %>
    </div>
  </header>
<% end %>

<div class="row">
  <div class="col-lg-8"><h1>Main content here</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, tenetur, sit, sint, officiis quam saepe dolores tempore architecto necessitatibus suscipit accusamus quisquam ipsa facere in voluptates delectus enim. Eaque, molestiae!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, tenetur, sit, sint, officiis quam saepe dolores tempore architecto necessitatibus suscipit accusamus quisquam ipsa facere in voluptates delectus enim. Eaque, molestiae!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, tenetur, sit, sint, officiis quam saepe dolores tempore architecto necessitatibus suscipit accusamus quisquam ipsa facere in voluptates delectus enim. Eaque, molestiae!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, tenetur, sit, sint, officiis quam saepe dolores tempore architecto necessitatibus suscipit accusamus quisquam ipsa facere in voluptates delectus enim. Eaque, molestiae!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, tenetur, sit, sint, officiis quam saepe dolores tempore architecto necessitatibus suscipit accusamus quisquam ipsa facere in voluptates delectus enim. Eaque, molestiae!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, tenetur, sit, sint, officiis quam saepe dolores tempore architecto necessitatibus suscipit accusamus quisquam ipsa facere in voluptates delectus enim. Eaque, molestiae!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, tenetur, sit, sint, officiis quam saepe dolores tempore architecto necessitatibus suscipit accusamus quisquam ipsa facere in voluptates delectus enim. Eaque, molestiae!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, tenetur, sit, sint, officiis quam saepe dolores tempore architecto necessitatibus suscipit accusamus quisquam ipsa facere in voluptates delectus enim. Eaque, molestiae!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, tenetur, sit, sint, officiis quam saepe dolores tempore architecto necessitatibus suscipit accusamus quisquam ipsa facere in voluptates delectus enim. Eaque, molestiae!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, tenetur, sit, sint, officiis quam saepe dolores tempore architecto necessitatibus suscipit accusamus quisquam ipsa facere in voluptates delectus enim. Eaque, molestiae!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, tenetur, sit, sint, officiis quam saepe dolores tempore architecto necessitatibus suscipit accusamus quisquam ipsa facere in voluptates delectus enim. Eaque, molestiae!</p>
  </div>
  <div class="col-lg-4">
    <div class="sidebar" data-spy="affix" data-offset-top="80" data-offset-bottom="400">
      <h2>Question here</h2>
      <%= link_to "test button", 'hi', class: "btn btn-large btn-primary" %>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, tenetur, sit, sint, officiis quam saepe dolores tempore architecto necessitatibus suscipit accusamus quisquam ipsa facere in voluptates delectus enim. Eaque, molestiae!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, tenetur, sit, sint, officiis quam saepe dolores tempore architecto necessitatibus suscipit accusamus quisquam ipsa facere in voluptates delectus enim. Eaque, molestiae!</p>

    </div>
  </div>
</div>

<% content_for(:footer) do %>
 <hr>
 copyright One Month Rails
<% end %>
