<header id="header" class="site-header">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <h1><%= link_to (content_tag(:i, nil, class: "icon-beaker") + " InstallRails.com"), root_path, class: "site-title" %></h1>
        </div><!-- /span12 -->
      </div><!-- /row-fluid -->
    </div><!-- /container -->

    <div class="container">
      <div class="row-fluid">
        <div class="span12">

          <div class="header-description">
            <h2>FREE step-by-step guide to installing Ruby on Rails</h2>
            <%= link_to "Start now", "#", class: "header-btn" %>
          </div><!-- /header-description -->

          <div class="header-features">
            <div class="row-fluid">
              <div class="span6 header-feature">
                <h3><i class="icon-random"></i> &nbsp; Extremely flexible</h3>
                <p>Proin ut iaculis nisl. Nulla dignissim neque magna, id hendrerit metus. Mauris non turpis eu arcu volutpat cursus. Etiam hendrerit erat ac eros auctor at eleifend lacus tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu dignissim risus.</p>
              </div>
              <div class="span6 header-feature">
                <h3> <i class="icon-group"></i> &nbsp; Developer for developer</h3>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hac habitasse platea dictumst. Nulla et porta nunc. Duis volutpat tristique nisl ac adipiscing. Sed eget nibh sit amet enim faucibus porta.</p>
              </div>
            </div>
          </div><!-- /header-features -->

        </div><!-- /span12 -->
      </div><!-- /row-fluid -->
    </div><!-- /container -->
  </header>


<section id="features" class="features">
  <div class="container">
    <div class="row-fluid">

      <div class="span3">
        <div class="feature">
          <i class="icon-globe icon-2x pull-left"></i>
          <h4>Used by Millions</h4>
          <p>Curabitur fringilla, elit pulvinar auctor tincidunt, arcu nibh adipiscing velit, at tincidunt libero nisl sit amet nisl.</p>
        </div>
      </div><!-- /span3 -->

      <div class="span3">
        <div class="feature">
          <i class="icon-wrench icon-2x pull-left"></i>
          <h4>Developers Friendly</h4>
          <p>Nullam ac magna sit amet Justo eu vulputate fermentum.</p>
        </div>
      </div><!-- /span3 -->

      <div class="span3">
        <div class="feature">
          <i class="icon-desktop icon-2x pull-left"></i>
          <h4>Responsive</h4>
          <p>From desktop tto mobile. Dignissim et dolor. Proin facilisis nulla vitae dui luctus ac pulvinar magna tincidunt.</p>
        </div>
      </div><!-- /span3 -->

      <div class="span3">
        <div class="feature">
          <i class="icon-thumbs-up icon-2x pull-left"></i>
          <h4>Flat Design</h4>
          <p>keeping up with trends, can impact your success. Integer.</p>
        </div>
      </div><!-- /span3 -->

    </div><!-- /row-fluid -->
  </div><!-- /container -->
</section>

<section>
  <div class="container">
    <h1>Setup for OS X</h1>

  </div><!-- /container -->
</section>

<section id="prices" class="prices">
  <div class="container">
    <div class="row-fluid">

      <div class="span4">
        <div class="plan plan-1">
          <h4 class="plan-title"><a href="#">Starter Plan</a></h4>
          <ul class="unstyled plan-features">
            <li><a href="#">Quisque convallis</a></li>
            <li><a href="#">Eros ut tincidunt</a></li>
            <li><a href="#">Pellentesque ac</a></li>
            <li><a href="#">Sed tempor metus</a></li>
          </ul>
          <p class="plan-price text-center"><a href="#">Free</a></p>
        </div>
      </div><!-- /span4 -->

      <div class="span4">
        <div class="plan plan-2">
          <h4 class="plan-title"><a href="#">Business Plan</a></h4>
          <ul class="unstyled plan-features">
            <li><a href="#">Quisque convallis</a></li>
            <li><a href="#">Eros ut tincidunt</a></li>
            <li><a href="#">Pellentesque ac</a></li>
            <li><a href="#">Sed tempor metus</a></li>
            <li><a href="#">Morbi eu ante</a></li>
            <li><a href="#">Eu ante iaculis</a></li>
            <li><a href="#">Interdum non at turpis</a></li>
          </ul>
          <p class="plan-price text-center"><a href="#">$19 / month</a></p>
        </div>
      </div><!-- /span4 -->

       <div class="span4 plan-3">
        <div class="plan">
          <h4 class="plan-title"><a href="#">Pro Plan</a></h4>
          <ul class="unstyled plan-features">
            <li><a href="#">Quisque convallis</a></li>
            <li><a href="#">Eros ut tincidunt</a></li>
            <li><a href="#">Pellentesque ac</a></li>
            <li><a href="#">Sed tempor metus</a></li>
            <li><a href="#">Cras vel risus</a></li>
            <li><a href="#">Tortor nullam condimentum</a></li>
            <li><a href="#">Dignissim arcu</a></li>
            <li><a href="#">Vulputate volutpat</a></li>
            <li><a href="#">Elit ultrices in</a></li>
          </ul>
          <p class="plan-price text-center"><a href="#">$29 / month</a></p>
        </div>
      </div><!-- /span4 -->

    </div><!-- /row-fluid -->
  </div><!-- /container -->
</section>

<section id="contact" class="contact">
  <div class="container">
    <div class="row-fluid">
      <div class="span6">
        <h2>Feedbacks & Questions</h2>
        <p><i class="icon-bullhorn icon-4x pull-left icon-muted"></i> I'd love to hear from you. Duis dapibus varius rhoncus. Aenean mauris urna, ultrices vitae faucibus quis, posuere id augue. Morbi id eros in nisl pretium ultrices ac nec dui. Praesent felis risus, pretium a semper et, pretium commodo nibh.</p>
      </div>
      <div class="span6">
        <br>
        <p>There are different ways to keep in touch:</p>

        <ul class="unstyled inline social">
          <li><a href="#"><i class="icon-phone"></i></a></li>
          <li><a href="#"><i class="icon-facebook"></i></a></li>
          <li><a href="#"><i class="icon-twitter"></i></a></li>
          <li><a href="#"><i class="icon-github-alt"></i></a></li>
          <li><a href="#"><i class="icon-linkedin"></i></a></li>
          <li><a href="#"><i class="icon-google-plus"></i></a></li>
        </ul>

        <ul class="unstyled inline text-center">
          <li><a href="#">Our Ticket System</a></li> |
          <li><a href="#">Our Forum</a></li> |
          <li><a href="#">Following Contact Form</a></li>
        </ul>

      </div>
    </div>
  </div>

  <div class="contact-form text-center">
    <i class="icon-envelope contact-form-btn closes"></i>
    <div class="container contact-form-inner">
      <div class="row-fluid">
        <form id="contact-form">
          <input class="input-block-level" type="text" name="name" placeholder="your name" required />
          <input class="input-block-level" type="email" name="email" placeholder="your email" required />
          <textarea class="input-block-level" name="message" placeholder="your message" required ></textarea>
          <button type="submit" class="btn-custom">Send</button>
        </form>
      </div>
    </div>
  </div>

</section>

<section id="subscribe" class="subscribe">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <p>No, not again. I am not going to miss it one more time!</p>
        <form id="subsc-form">
          <div class="input-append">
            <input id="appendedInputButton" type="email" name="subscriber" placeholder="your email" required />
            <button type="submit" class="btn-custom" >Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<footer id="footer" class="footer">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <h1 class="footer-title pull-left"><a href="#"><i class="icon-beaker"></i> Beaker</a></h1>

        <p class="pull-right copyright">
          &copy All Right Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>

<%= javascript_include_tag "script" %>
