<header id="header" class="site-header">
    <div class="container">
      <div class="row-fluid">
        <div class="col-12">
          <h1><%= link_to (content_tag(:i, nil, class: "icon-beaker") + " InstallRails.com"), root_path, class: "site-title" %></h1>
        </div><!-- /col-12 -->
      </div><!-- /row-fluid -->
    </div><!-- /container -->

    <div class="container">
      <div class="row-fluid">
        <div class="col-12">

          <div class="header-description">
            <h2>FREE step-by-step guide to installing Ruby on Rails</h2>
            <%= link_to "Start now", install_steps_path, class: "header-btn" %>
          </div><!-- /header-description -->

          <div class="header-features">
            <div class="row-fluid">
              <div class="col-6 header-feature">
                <h3><i class="icon-random"></i> &nbsp; Extremely flexible</h3>
                <p>Proin ut iaculis nisl. Nulla dignissim neque magna, id hendrerit metus. Mauris non turpis eu arcu volutpat cursus. Etiam hendrerit erat ac eros auctor at eleifend lacus tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu dignissim risus.</p>
              </div>
              <div class="col-6 header-feature">
                <h3> <i class="icon-group"></i> &nbsp; Developer for developer</h3>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hac habitasse platea dictumst. Nulla et porta nunc. Duis volutpat tristique nisl ac adipiscing. Sed eget nibh sit amet enim faucibus porta.</p>
              </div>
            </div>
          </div><!-- /header-features -->

        </div><!-- /col-12 -->
      </div><!-- /row-fluid -->
    </div><!-- /container -->
  </header>


<section id="features" class="features">
  <div class="container">
    <div class="row-fluid">

      <div class="col-3">
        <div class="feature">
          <i class="icon-globe icon-2x pull-left"></i>
          <h4>Used by Millions</h4>
          <p>Curabitur fringilla, elit pulvinar auctor tincidunt, arcu nibh adipiscing velit, at tincidunt libero nisl sit amet nisl.</p>
        </div>
      </div><!-- /col-3 -->

      <div class="col-3">
        <div class="feature">
          <i class="icon-wrench icon-2x pull-left"></i>
          <h4>Developers Friendly</h4>
          <p>Nullam ac magna sit amet Justo eu vulputate fermentum.</p>
        </div>
      </div><!-- /col-3 -->

      <div class="col-3">
        <div class="feature">
          <i class="icon-desktop icon-2x pull-left"></i>
          <h4>Responsive</h4>
          <p>From desktop tto mobile. Dignissim et dolor. Proin facilisis nulla vitae dui luctus ac pulvinar magna tincidunt.</p>
        </div>
      </div><!-- /col-3 -->

      <div class="col-3">
        <div class="feature">
          <i class="icon-thumbs-up icon-2x pull-left"></i>
          <h4>Flat Design</h4>
          <p>keeping up with trends, can impact your success. Integer.</p>
        </div>
      </div><!-- /col-3 -->

    </div><!-- /row-fluid -->
  </div><!-- /container -->
</section>

<section id="contact" class="contact">
  <div class="container">
    <div class="row-fluid">
      <div class="col-12">
        <h2>Sites build with Rails</h2>
        <p><i class="icon-bullhorn icon-4x pull-left icon-muted"></i> I'd love to hear from you. Duis dapibus varius rhoncus. Aenean mauris urna, ultrices vitae faucibus quis, posuere id augue. Morbi id eros in nisl pretium ultrices ac nec dui. Praesent felis risus, pretium a semper et, pretium commodo nibh.</p>
      </div>
    </div>
  </div>
</section>

<footer id="footer" class="footer">
  <div class="container">
    <div class="row-fluid">
      <div class="col-12">
        <h1 class="footer-title pull-left"><a href="#"><i class="icon-beaker"></i> Beaker</a></h1>

        <p class="pull-right copyright">
          &copy All Right Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>

