<section class="instructions">
  <h1>
    First off, we need to figure out which instructions to give you.
  </h1>
  <h2>
    Which operating system are you using?
  </h2>
</section>

<center>
<div class="prompt" style="max-width: 50%;">
  <div class="apple">
    <%= image_tag "mac_steps/apple.png",     class: 'choose_your_os' %>
    <br>
    <%= button_to "Mac",     wizard_path, name: :os, method: :put, class: "option" %>
  </div>
  <div class="windows">
    <%= image_tag "mac_steps/microsoft.png", class: 'choose_your_os' %>
    <br>
    <%= button_to "Windows", wizard_path, name: :os, method: :put, class: "option"  %>
  </div>
</div>
</center>
