<section class="prompt">
<h1>First off, are you using a Mac or Windows?</h1>
  <div class="options">
    <div class="option">
      <%= button_to "Mac", wizard_path, name: :os, method: :put %>
    </div>
    <div class="option">
      <%= button_to "Windows", wizard_path, name: :os, method: :put  %>
    </div>
  </div>
</section>
