<section class="instructions">
  <h1>First off, we need to figure out which instructions to give you</h1>
</section>

<div class="prompt">
  <h2>What operating system are you using?</h2>
  <div class="options">
    <%= button_to "Mac", wizard_path, name: :os, method: :put, class: "option" %>
    <%= button_to "Windows", wizard_path, name: :os, method: :put, class: "option"  %>
  </div>
</div>
