<section class="instructions">
  <h1>Configure Git</h1>
  <ol>
    <li>
      In your terminal type this
      <pre><code>git config --global user.name "<strong>Your Actual Name</strong>"</code></pre>
    </li>
    <li>
      And then type:
      <pre><code>git config --global user.email "<strong>Your Actual Email</strong>"</code></pre>
    </li>
    <li>
      To verify your installation, type:
      <pre><code>git config --get user.name</code></pre>
    </li>
    <li>
      Your name should appear. Now type:
      <pre><code>git config --get user.email</code></pre>
    </li>
    <li>
      Your email should appear.
    </li>
    </ol>
    <hr>
      <h2>Why did we do this? What is git?</h2>
      <p>We'll use git to track your coding history.</p><p>To put it another way, git will allow you to make revisions of your work... this way you can feel assured that if you make an awful mistake (which inevitably you will at some point), git will be there to help you undo it.</p>

      <p>Git is also used for uploading (aka. "git push") and downloading (aka. "git pull") code to the Web.</p>
</section>

<section class="prompt center">
    <%= link_to "Previous Step", previous_wizard_path, class: "option" %>
   <button type="button" class="troubleshooting" data-toggle="collapse" data-target="#trouble">Troubleshooting</button>
    <%= link_to "Next Step",     next_wizard_path,     class: "option"%>
</section>


<div id="trouble" class="collapse out note">

  <div class="disqus">
    <%= render 'layouts/disqus' %>
  </div>

</div>
