<section class="instructions">
  <h1>Configure Git</h1>
  <ol>
    <li>
      In your Terminal type:
      <pre><code>git config --global user.name "<strong>Your Actual Name</strong>"</code></pre>
    </li>
    <li>
      And then type:
      <pre><code>git config --global user.email "<strong>Your Actual Email</strong>"</code></pre>
      <div class="row">
        <div class="col-sm-12 note" id="prompt" style="text-align:center;">
          Your email address should be the same one associated with your <%= link_to "GitHub", "http://help.github.com/articles/set-up-git", target: "_blank" %> account.
        </div>
      </div>
    </li>
    <li>
      To verify your configuration, type:
      <pre><code>git config -l</code></pre>
    </li>
      <p style="text-align: center; color: rgb(154, 155, 160);">Your email and user name should appear in return</p>
    </li>
    </ol>
    <hr>

    <div class="center" id="git-intro">
      <h2>Why did we do this? What is Git?</h2>
      <p>
        Git is version control software. You will use Git to track and manage your coding history as well as get into the programming community as a whole.
      </p>
      <p>
        To put it another way, Git will allow you to make revisions of your work as well as others… this way you can feel assured that if you make an awful mistake to fix or have a solution for someone else, Git will be the best way to do it!
      </p>

      <div class="row">
        <p>More information and resources on Git here: <%= link_to "Here", "http://git-scm.com/videos" %></p>
      </div>
</section>

<%= render 'layouts/step_navigation' %>

<div id="trouble" class="collapse out note">
  <%= render 'layouts/disqus' %>
</div>
