<section class="instructions">
  <h1>Configure Git</h1>
  <ol>
    <li>
      In your terminal type this
      <pre><code>git config --global user.name "Your Actual Name"
git config --global user.email "Your Actual Email"
</code></pre>
    </li>
    <li>
      To verify your installation, type this in your terminal
      <pre><code>git config --get user.name</code></pre>
      Your name should appear. Now type this
      <pre><code>git config --get user.email</code></pre>
      Your email should appear.
    </li>
  </ol>
</section>

<section class="prompt">
  <div class="option">
    <%= link_to "Next Step", next_wizard_path %>
  </div>
</section>
