<canvas id="confetti"></canvas>

<section class="instructions">
  <h1>
    <%= image_tag "mac_steps/congrats_sam.png", style: 'display:inline;width:25%' %>
    Congratulations! What's next?
  </h1>
  <ol>
    <li>
      <%= image_tag "omr_logo.png", style: 'display:inline;' %> Head on over to <strong><%= link_to "One Month Rails", "http://onemonthrails.com", target: "_blank" %></strong> where you can continue your progress!
    </li>
    <li>
      You may also want to check out some of these resources:
      <ul>
        <li>
          <a href="http://www.lynda.com/Ruby-on-Rails-3-tutorials/essential-training/55960-2.html">Ruby on Rails 3 Essential Training</a> by Kevin Skoglund
        </li>
        <li>
          <a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book">Ruby on Rails Tutorial</a> by Michael Hartl
        </li>
        <li>
          <a href="http://openclassroom.stanford.edu/MainFolder/CoursePage.php?course=WebApplications">Web Applications</a> by John Ousterhout at Stanford University
        </li>
        <li>
          <a href="http://railscasts.com/">RailsCasts</a> by Ryan Bates
        </li>
        <li>
          <a href="http://stackoverflow.com/">StackOverflow</a>
        </li>
        <li>
          <a href="http://guides.rubyonrails.org/">Ruby on Rails Guides</a>
        <li>
          <a href="http://meetup.com">Meetup</a>
        </li>
        <li>
          <a href="http://generalassemb.ly/">General Assembly</a>
        </li>
        <li>
          <a href="http://startupdigest.com/">Startup Digest</a>
        </li>
        <li>
          <a href="http://startupweekend.org/">Startup Weekend</a>
        </li>
        <li>
          <a href="http://railsforzombies.org/">Rails for Zombies</a>
        </li>
        <li>
          <a href="https://peepcode.com/">Peepcode</a>
        </li>
        <li>
          <a href="http://www.amazon.com/Agile-Web-Development-R
        ails-Programmers/dp/097669400X">Agile Web Development</a></li>
        <li>
          <a href="http://hackety.com/">Hackety-Hack</a>
        </li>
        <li>
          <a href="http://teamtreehouse.com/">Treehouse</a>
        </li>
        <li>
          <a href="http://codecademy.com">Codecademy</a>
        </li>
        <li>
          <a href="http://codeschool.com">Codeschool</a>
        </li>
        <li>
          <a href="http://rorcasts.com/">Rorcasts</a>
        </li>
      </ul>
    </li>
  </ol>
</section>
