<section class="instructions">
  <h1>Create your first app</h1>
      <p>If you followed all the previous steps correctly, you should be ready to create your first app.</p>
    <ol>
    <li>
      Run the <strong>cd</strong> <i>(change directory)</i> command in the command line to change directory into your desktop folder
      <pre><code>$ cd ~/Desktop</code></pre>
    </li>
    <blockquote>
      NOTE:
      We do this so that when we create a new application, we'll be able to see it in our desktop and access it more easily.
      <%= image_tag "sam.png", class: 'sam' %>
    </blockquote>
    <li>
      You can doublecheck that you did this correctly with the command <strong>pwd</strong> <i>(print working directly)</i>, which will tell you what folder you're currently in.
      <pre><code>$ pwd</code></pre>
    </li>
    <li>
      Expected result:
      <pre><code>/Users/<strong>[YOUR USER NAME]</strong>/Desktop</code></pre>
    </li>
    <li>
      Now we're going to run a command that will create a new rails application
      <pre><code>$ rails new sample_app %></code></pre>
    </li>
    <li>
      We just created a new app! Let's see it live.
    </li>
  </ol>
</section>

<center>
<section class="prompt">
  <%= link_to "Previous Step", previous_wizard_path, class: "option" %>
  <%= link_to "Next Step",     next_wizard_path,     class: "option"%>
</section>
</center>
