<section class="instructions">
  <h1>Create an SSH Key</h1>
  <ol>
    <li>
      Open your terminal
      <ul>
        <li>Open Spotlight (the little icon on the top right corner of your mac) and type "Terminal". Hit Enter.</li>
      </ul>
    </li>

    <li>
      In your terminal, type this:
      <pre><code>ssh-keygen -C YourEmail@example.com -t rsa</code></pre>
      <ul>
        <li>When prompted to enter a keyphrase simply hit the “Enter” key.</li>
      </ul>
    </li>

    <li>Expected result:</li>
    <pre><code>Generating public/private rsa key pair.
Enter file in which to save the key (/Users/yourname/.ssh/id_rsa):
Created directory '/Users/yourname/.ssh'.
Enter passphrase (empty for no passphrase):
Enter same passphrase again:
Your identification has been saved in /Users/yourname/.ssh/id_rsa.
Your public key has been saved in /Users/yourname/.ssh/id_rsa.pub.
The key fingerprint is:
88:63:df:77:ef:3l:c7:3z:28:11:95:0d:3e:sf:5h:9a YourEmail@example.com</code></pre>
  </ol>
</section>

<%= render partial: "layouts/step_navigation" %>

<div id="trouble" class="collapse out note">
  <%= render 'layouts/disqus' %>
</div>
