<section class="instructions">
  <h1>Now we're going to explore something called the command line</h1>
  <p>The command line is a place on your computer where you can type in commands (that I'll show you in a moment) and hit <strong>Enter</strong> to run those commands</p>
  <ol>
    <li>Open up the Git Bash application in the new RailsInstaller folder</li>
  </ol>
</section>

<section class="prompt">
  <%= link_to "Next Step", next_wizard_path, class: "option" %>
</section>
