<section class="instructions">
  <h1>Now we're going to explore something called: the command line</h1>
  <p>The command line is a place on your computer where you can type in commands (I'll show you in a moment). After you type them in you'll hit <strong>Enter</strong> to run those commands. And then the magic happens!</p>
  <ol>
    <li>
    	<p>Open up the <strong>Git Bash</strong> application from your RailsInstaller folder.</p>

    	<p>Having trouble finding it? Look under the "Start" menu."</p>
		<%= image_tag "windows-gitbash.png" %>

    </li>
  </ol>
</section>




<center>
<section class="prompt">
  <%= link_to "Previous Step", previous_wizard_path, class: "option" %>
  <%= link_to "Next Step",     next_wizard_path,     class: "option"%>
  <br>
  <small>
    Run into problems? Need help?
  </small>
</section>
</center>
