<section class="instructions">
   <div class="center">
      <small>
    Now we're going to explore something called:
  </small>
   <h1>
    The Command Line
   </h1>
  </div>

  <p>The command line is a place on your computer where you can type in commands (I'll show you in a moment).</p>
  <p>After you type them in you'll hit <strong>Enter</strong> to run those commands. And then the magic happens!</p>
  <hr>

  <ol>
    <li>
    	<p>Open up the <strong>Git Bash</strong> application from your RailsInstaller folder.</p>
    	<p>Having trouble finding it? Look under the "Start" menu."</p>
      <div class="text-center"><%= image_tag "windows-gitbash.png" %></div>
    </li>
  </ol>
</section>

<%= render 'layouts/step_navigation' %>

<div id="trouble" class="collapse out note">
  <%= render 'layouts/disqus' %>
</div>
