<section class="instructions">
  <h1>Install Xcode</h1>
  <ol>
    <li>
      Install <a href="https://itunes.apple.com/app/id497799835?mt=12">Xcode from the Mac App Store</a>.
     <div class="row">
        <div class="col-sm-12 note">
         <strong>Assuming Xcode has finished installing:</strong> Now you can check the Command Line Tools.
         </div>
      </div>
    </li>

    <li>Open Xcode. In the menu bar click on “Xcode” then select “Preferences”
      <%= image_tag "xcode_preferences.png", class: "list-image" %>
    </li>
    <li> Click the “Locations” tab and verify your version below <small>
      <%= image_tag "xcode_command_line_tool.png", class: "list-image" %>
    </li>
  </ol>
</section>

<%= render 'layouts/step_navigation' %>

<div id="trouble" class="collapse out note">
  <%= render 'layouts/disqus' %>
</div>
