<section class="instructions">
  <h1>Install Rails</h1>
  <ol>
    <li>
      In your terminal type
    </li>
    <pre><code>gem install rails</code></pre>
    <li>
      To verify your installation, in your terminal type
    </li>
      <pre><code>rails -v</code></pre>
      <p>Approximate expected result</p>
      <pre><code>Rails 4.0.x</code></pre>
  </ol>
</section>


<center>
<section class="prompt">
  <%= link_to "Previous Step", previous_wizard_path, class: "option" %>
  <%= link_to "Next Step",     next_wizard_path,     class: "option"%>
  <br>
  <small>
    Run into problems? Need help?
  </small>
</section>
</center>
