<section class="instructions">
  <h1>Install Git</h1>
  <ol>
    <li>
      In your terminal type
    </li>
    <pre><code>brew install git </code></pre>
    <li>
      To verify your installation, in your terminal type
    </li>
      <pre><code>git --version</code></pre>
      <p>Approximate expected result</p>
      <pre><code>git version 1.x.x</code></pre>
  </ol>
</section>


<center>
<section class="prompt">
  <%= link_to "Previous Step", previous_wizard_path, class: "option" %>
 <button type="button" class="troubleshooting-blue" data-toggle="collapse" data-target="#trouble">Troubleshooting</button>
  <%= link_to "Next Step",     next_wizard_path,     class: "option"%>
</section>
</center>


<div id="trouble" class="collapse out note">

  <div class="disqus">
    <%= render 'layouts/disqus' %>
  </div>

</div>

