<section class="instructions">
  <h1>Install RVM and Ruby</h1>
  <p>RVM is short for Ruby Version Manager, it's a little program that makes it easy to install different versions of Ruby on your computer</p>
  <ol>
    <li>To install RVM, type this in your terminal</li>
    <pre><code>curl -L get.rvm.io | bash -s stable</code></pre>
    <li>Close your terminal and then re-open it.</li>
    <li>To install Ruby, type this in your terminal
      <pre><code>rvm install 2.0.0</code></pre>

      <div class="row">
      <div class="col-sm-12 note">
        <h3>Notes:</h3>
        <ul>
          <li>This will install Ruby and may take a while.</li>
          <li>If you get an entire page of instructions, beginning with 'Ruby (and needed base gems) for your selection...', you should press Q to skip.</li>
          <li>If rvm install 2.0.0 says autoreconf was not found in the PATH, type this in your terminal
            <pre><code>brew install automake</code></pre>
          </li>
        </ul>
      </div>
    </div>

  </ol>
</section>


<section class="prompt center">
  <%= link_to "Previous Step", previous_wizard_path, class: "option" %>
 <button type="button" class="troubleshooting" data-toggle="collapse" data-target="#trouble">Troubleshooting</button>
  <%= link_to "Next Step",     next_wizard_path,     class: "option"%>
</section>


<div id="trouble" class="collapse out note">

  <div class="disqus">
    <%= render 'layouts/disqus' %>
  </div>

</div>