<section class="instructions">
  <h1>Install Homebrew</h1>
  <ol>
    <li>
      In your terminal type
    </li>
      <pre><code>ruby -e "$(curl -fsSL https://raw.github.com/mxcl/homebrew/go)" </code></pre>
      <ul>
        <li>
          <b>Note:</b> If this doesn’t work, <%= link_to "go here", "https://github.com/mxcl/homebrew/wiki/installation" %> and follow the instructions
        </li>
      </ul>
    <li>
      To verify your installation, in your terminal type
    </li>
      <pre><code>brew -v</code></pre>
      <p>Approximate expected result</p>
      <pre><code>Homebrew 0.9.X</code></pre>
  </ol>
</section>

<section class="prompt">
  <%= link_to "Next Step", next_wizard_path, class: "option" %>
</section>
