<section class="instructions">
  <h1>Install RVM and Ruby</h1>
  <ol>
    <li>
      Open your terminal
      <ul>
        <li>Open Spotlight (the little loup icon on the top right corner of your mac) and type "Terminal". Hit Enter.
      </ul>
    </li>
    <li>To install RVM, type this in your terminal</li>
    <pre><code>curl -L get.rvm.io | bash -s stable</code></pre>
    <li>Close your terminal and then re-open it.</li>
    <li>To install Ruby, type this in your terminal
      <pre><code>rvm install 1.9.3</code></pre>
      <ul>
        <b>Notes:</b>
        <li>This will install Ruby and may take a while.</li>
        <li>If you get an entire page of instructions, beginning with 'Ruby (and needed base gems) for your selection...', you should press Q to skip.</li>
        <li>If rvm install 1.9.3 says autoreconf was not found in the PATH, type this in your terminal
          <pre><code>brew install automake</code></pre>
        </li>

      </ul>
    </li>
  </ol>
</section>

<section class="prompt">
  <%= link_to "Next Step", next_wizard_path, class: "option" %>
</section>
