<section class="instructions">
  <h1>Install Homebrew</h1>
  <ol>
    <li>
      In your terminal type
    </li>
      <pre><code>ruby -e "$(curl -fsSL https://raw.github.com/mxcl/homebrew/go)" </code></pre>

     <div class="row">
      <div class="col-sm-12 note">
          <b>Note:</b> If this doesn’t work, <%= link_to "go here", "https://github.com/mxcl/homebrew/wiki/installation" %> and follow the instructions
      </div>
     </div>
    <li>
      To verify your installation, in your terminal type
    </li>
      <pre><code>brew -v</code></pre>
      <p>Approximate expected result</p>
      <pre><code>Homebrew 0.9.X</code></pre>
  </ol>
</section>

<section class="prompt center">
  <%= link_to "Previous Step", previous_wizard_path, class: "option" %>
  <button type="button" class="troubleshooting" data-toggle="collapse" data-target="#trouble">Troubleshooting</button>
  <%= link_to "Next Step",     next_wizard_path,     class: "option"%>
</section>


<div id="trouble" class="collapse out note">

  <div class="disqus">
    <%= render 'layouts/disqus' %>
  </div>

</div>
