<section class="instructions">
  <h1>Install Rails</h1>
  <ol>
    <li>
      In your terminal type
    </li>
    <pre><code>gem install rails --no-ri --no-rdoc</code></pre>
    <li>
      To verify your installation, in your terminal type
    </li>
      <pre><code>rails --version</code></pre>
      <p>Approximate expected result</p>
      <pre><code>Rails 4.0.x</code></pre>
  </ol>
  <div class="row">
      <div class="col-sm-12 note">
        <h3>Notes:</h3>
        <ul>
          <li>This will install Rails and may take a while.</li>
          <li>If Rails cannot install, check the failure message. if it contains:
          <pre><code>
          -----
          libxml2 is missing.  Please locate mkmf.log to investigate how it is failing.
          -----
          </code></pre>
          and you are using OS X 10.10 or later, then run:
          <pre><code>
          brew install libxml2
          env ARCHFLAGS="-arch x86_64" gem install nokogiri:1.6.4.1 -- --use-system-libraries --with-xml=/usr/local/Cellar/libxml2/
          </code></pre>
          to install libxml2 and nokogiri and rerun the rails instalation.
          <p>Else, try running the code below and then restarting your computer:
            <pre><code>brew install apple-gcc42</code></pre>
            </p>

            <p>If you are still stuck, try:
              <pre><code>sudo xcodebuild -license
sudo port upgrade outdated
rvm reinstall 2.0.0</pre></code>
            </p>
          </li>
        </ul>
      </div>
    </div>
</section>

<%= render 'layouts/step_navigation' %>

<div id="trouble" class="collapse out note">
    <%= render 'layouts/disqus' %>
</div>
