<section class="instructions">
  <h1>Install RVM and Ruby</h1>
  <p>RVM is short for Ruby Version Manager, it's a little program that makes it easy to install different versions of Ruby on your computer</p>
  <ol>
    <li>To install RVM, type this in your terminal</li>
    <pre><code>curl -L get.rvm.io | bash -s stable</code></pre>
    <li>Close your terminal and then re-open it.</li>
    <li>To install Ruby, type this in your terminal
      <pre><code>rvm install 2.0.0</code></pre>
      <ul>
        <b>Notes:</b>
        <li>This will install Ruby and may take a while.</li>
        <li>If you get an entire page of instructions, beginning with 'Ruby (and needed base gems) for your selection...', you should press Q to skip.</li>
        <li>If rvm install 2.0.0 says autoreconf was not found in the PATH, type this in your terminal
          <pre><code>brew install automake</code></pre>
        </li>
        <%= image_tag "sam.png", class: 'sam' %>
      </ul>
    </li>
  </ol>
</section>


<center>
<section class="prompt">
  <%= link_to "Previous Step", previous_wizard_path, class: "option" %>
  <%= link_to "Next Step",     next_wizard_path,     class: "option"%>
  <br>
  <small>
    Run into problems? Need help?
  </small>
</section>
</center>
