<section class="instructions">
  <h1>Time to install Rails!</h1>
  <ol>
    <li>
      <strong>RailsInstaller</strong> is now downloading to your computer. Once the file has fully downloaded, double-click it ti open the installer wizard.
      <%= image_tag "mac_steps/installer_wizard.png" %>
    </li>
    <li>
      Click '<strong>Next</strong>' for each step - it's okay to accept the default settings.
      <%= image_tag "mac_steps/rails_one_click.png" %>
    </li>
    <li>
      When propted, enter your <strong>name</strong> and <strong>email addresstrong</strong> (don't worry, no one will see this email or spam you, this is purely for setup purposes).
    </li>
  </ol>
</section>


<center>
<section class="prompt">
  <%= link_to "Previous Step", previous_wizard_path, class: "option" %>
  <%= link_to "Next Step",     next_wizard_path,     class: "option"%>
  <br>
  <small>
    Run into problems? Need help?
  </small>
</section>
</center>
