<section class="instructions">
  <h1>Option #1: Using the Linux OS?</h1>

  <p>Follow the setup instructions at <a href="http://guides.railsgirls.com/install#setup-for-linux" target="_blank">RailsGirls</a> and then choose "Next Step" below. If you run into trouble you may want to consult <a href="http://railsapps.github.io/installrubyonrails-ubuntu.html" target="_blank">RailsApps guide</a> which goes much deeper into the Linux installation process.
  </p>

  <%= render 'layouts/step_navigation' %>

  <hr>

  <h1>Option #2: Nitrous.io</h1>
  <p>Nitrous.io allows you to code directly in your browser without installing any software.</p>

  <ol>
    <li>Sign up: <a href="https://www.nitrous.io/">Nitrous.io [main site]</a></li>
    <li>A guide to help you along the way: <a href="http://zahidlilani.com/how-to-create-ruby-on-rails-app-development-environment-on-nitrous-io">How to Create A Ruby on Rails App Development Environment on Nitrous.io</a></li>
  </ol>

  <div class="row">
    <div class="col-sm-12 note">
      Note: We recommend students of <a href="//onemonthrails.com" target="_blank">One Month Rails</a> use either Mac, Windows or Linux.
    </div>
  </div>
</section>

<div id="trouble" class="collapse out note">
  <%= render 'layouts/disqus' %>
</div>
