<section class="instructions">
  <h1>Using the Linux OS?</h1>

  <p>Follow the setup instructions at <a href="http://guides.railsgirls.com/install#setup-for-linux" target="_blank">RailsGirls</a> and then choose "Next Step" below. If you run into trouble you may want to consult <a href="http://railsapps.github.io/installrubyonrails-ubuntu.html" target="_blank">RailsApps guide</a> which goes much deeper into the Linux installation process.
  </p>

  <%= render 'layouts/step_navigation' %>

  <hr>

</section>

<div id="trouble" class="collapse out note">
  <%= render 'layouts/disqus' %>
</div>
