<section class="instructions">
  <h1>See it live!</h1>
  <ol>
    <li>
      Move into your new application folder
    </li>
    <li>
      <pre><code>$ cd ~/Desktop/sample_app</code></pre>
    </li>
    <li>
      We're going to start a little server so we can see the application in a browser
    </li>
    <li>
      <pre><code>$ rails server</code></pre>
    </li>
    <li>
      This command should show you:
    </li>
    <li>
      <pre><code>=> Booting WEBrick
=> Rails 4.0.0 application starting in development on http://0.0.0.0:3000
=> Run `rails server -h` for more startup options
=> Ctrl-C to shutdown server
[2013-08-01 16:37:03] INFO  WEBrick 1.3.1
[2013-08-01 16:37:03] INFO  ruby 2.0.0 (2013-05-14) [x86_64-darwin12.4.0]
[2013-08-01 16:37:03] INFO  WEBrick::HTTPServer#start: pid=12109 port=3000</code></pre>
    </li>
    <li>
      <blockquote>
        NOTE: You'll no longer be able to type anything in this window. You can close the server by hitting '<strong>Control + C</strong>'
        <%= image_tag "sam.png", class: 'sam' %>
      </blockquote>
    </li>
    <li>
      Open up your browser and visit <%= link_to "http://localhost:3000", "http://localhost:3000", target: "_blank" %>
    </li>
    <li>You should see your new web app!</li>
  </ol>
</section>

<section class="prompt">
  <%= link_to "Yay! What's next?", next_wizard_path, class: "option" %>
</section>
