<section class="instructions">
  <h1>See it live!</h1>
  <ol>
    <li>
      Move into your new application folder
      <pre><code>$ cd ~/Desktop/sample_app</code></pre>
    </li>
    <li>
      We’re going to start a little server so we can see the application in a browser
      <pre><code>$ rails server</code></pre>
    </li>
    <li>
      This command should show you:
      <pre><code>=> Booting Puma
=> Rails 5.2.0 application starting in development
=> Run `rails server -h` for more startup options
Puma starting in single mode...
* Version 3.11.4 (ruby 2.5.1-p57), codename: Love Song
* Min threads: 5, max threads: 5
* Environment: development
* Listening on tcp://0.0.0.0:3000
Use Ctrl-C to stop</code></pre>
    </li>
    <li>
      Open up your browser and visit <%= link_to "http://localhost:3000", "http://localhost:3000", target: "_blank" %>
    </li>
  </ol>
  <p>You should see your new web app!</p>
  <hr>

  <div class="row">
    <div class="col-sm-6 note">
      PRO TIP:<br>Whenever you run <pre><code>$ rails server</pre></code> …you’ll no longer be able to type anything in that command line window (because that window is now busy running your site).<br><br>Leaving us with two options:<br>1) When you’re coding: let this window run the server, and open another command line window to write new commands<br>2) When you’re finished: close the server by hitting “<strong>Control + C</strong>” and give yourself a pat on the back for being awesome.
    </div>
    <div class="col-sm-6">
      <%= image_tag "sam.png", class: 'sam' %>
    </div>
  </div>
</section>

<%= render 'layouts/step_navigation' %>

<div id="trouble" class="collapse out note">
  <h4>#1 - My error is about: “node.js”, “therubyrhino”, “therubyracer” or a Java Runtime Error</h4>
  <p>a) If your error resembles any of those words you may need to <a href="http://nodejs.org/download/" target="_blank" class="btn btn-info">DOWNLOAD NODE.JS</a></p>
  <p>b) Restart your computer after you install Node.js</p>
  <hr><br>
  <%= render 'layouts/disqus' %>
</div>
