<section class="instructions">
  <h1>Install Sublime Text</h1>
  <p>As a developer, you’ll be using your text editor quite often. A text editor is a simple program that lets you write text <i>(and by text we mean… code)</i>. Our preferred text editor is <strong>Sublime Text</strong>.</p>
  <hr>

  <ol>
    <li>
      <p>To download Sublime Text visit the Sublime Text site and download it to your computer (hint: click the big blue button on their homepage).</p>
      <p class="text-center"><%= link_to "Visit Sublime Text & Download", 'http://www.sublimetext.com/', target: :_blank, class: "btn option" %></p>
    </li>
    <li>
      <p>Once the file has fully downloaded, double-click it and a new window will open. On a Mac: drag and drop <strong>Sublime Text 2</strong> into your <strong>Applications</strong> folder.</p>
      <p class="text-center"><%= image_tag "mac_steps/applications_folder.png", class: "list-image" %></p>
    </li>
  </ol>
</section>

<%= render 'layouts/step_navigation' %>

<div id="trouble" class="collapse out note">
  <%= render 'layouts/disqus' %>
</div>
