<section class="instructions">
  <h1>Install Sublime Text</h1>
  <ol>
    <li>
      <p>As a developer, you’ll be using your text editor quite often. A text editor is a simple program that lets you write text <i>(and by text we mean code)</i>. Our preferred text editor is <strong>Sublime Text 2</strong>. Click the button below to download it.</p>
       <center>
        <%= link_to "Download Sublime Text 2", 'http://www.sublimetext.com/2', target: :_blank, class: "btn option" %>
      </center>
    </li> 
    <li>
      Once the file has fully downloaded, double-click it and a new window will open. Drag and drop <strong>Sublime Text 2</strong> into your <strong>Applications</strong> folder.
      <%= image_tag "mac_steps/applications_folder.png", class: "list-image" %>
    </li>
  </ol>
</section>



<center>
<section class="prompt">
  <%= link_to "Previous Step", previous_wizard_path, class: "option" %>
  <%= link_to "Next Step",     next_wizard_path,     class: "option"%>
</section>
</center>
