<section class="instructions">
  <h1>Install Sublime Text</h1>
  <ol>
    <li>Go to <%= link_to "SublimeText.com", "http://sublimetext.com", target: "_blank" %></li>
    <li>Download Sublime Text</li>
  </ol>
</section>

<section class="prompt">
  <div class="option">
    <%= link_to "Next Step", next_wizard_path %>
  </div>
</section>
