<section class="instructions">
  <h1>Install TextMate</h1>
  <p>As a developer, you’ll be using your text editor quite often. A text editor is a simple program that lets you write text (and by text we mean... code).</p>

  <p>Our preferred text editor is <b>Sublime Text 2</b> but this program isn't compatible with versions of OS X lower than 10.6, so we'll use <b>TextMate</b>. You’re free to use any text editor you’d like but note that <b>Microsoft Word WILL NOT WORK</b>.</p>
  <hr>
  <ol>
    <li>To download TextMate visit this link <%= link_to "http://archive.textmate.org/TextMate_1.5.11_r1635.zip", "http://archive.textmate.org/TextMate_1.5.11_r1635.zip", target: "_blank" %></li>
    <li>This will download a file that will appear in your “Downloads” folder (or wherever you save downloaded files).</li>
    <li>Double click on the newly downloaded file.</li>
    <li>A new window will open. Drag and drop TextMate into your Applications folder.</li>
  </ol>
</section>

<%= render 'layouts/step_navigation' %>

<div id="trouble" class="collapse out note">
  <%= render 'layouts/disqus' %>
</div>
