<section class="instructions">
  <h1>Install a Text Editor</h1>
  <p>
    As a developer, you’ll be using your text editor quite often.
    A text editor is a simple program that lets you write text <i>(and by text we mean… code)</i>.
    <br><br>
    My preferred editor is <strong>Atom</strong>, but <strong>Sublime Text</strong> is also very popular.
  </p>
  <hr>

  <h3>Install Atom (Option A)</h3>
  <small><strong>Downsides</strong>: A little slow. <strong>Upsides</strong>: free and open source, prettier design.</small><br><br>
  <p class="text-center"><%= link_to "Visit Atom Text & Download", 'https://atom.io/', target: :_blank, class: "btn option" %></p>
  <p>Once the file has fully downloaded, double-click it. On a Mac: drag and drop <strong>Atom</strong> into your <strong>Applications</strong> folder.</p>

  <h3>Install Sublime (Option B)</h3>
  <small><strong>Downsides</strong>: asks you to buy it every ~60 saves. <strong>Upsides</strong>: very fast.</small><br><br>
  <p class="text-center"><%= link_to "Visit Sublime Text & Download", 'http://www.sublimetext.com/', target: :_blank, class: "btn option" %></p>
  <p>Once the file has fully downloaded, double-click it. On a Mac: drag and drop <strong>Sublime Text</strong> into your <strong>Applications</strong> folder.</p>
</section>

<%= render 'layouts/step_navigation' %>

<div id="trouble" class="collapse out note">
  <%= render 'layouts/disqus' %>
</div>
