<section class="instructions">
  <h1>Update Rails</h1>
  <ol>
    <li>
      Open your terminal
      <ul>
        <li>Open Spotlight (the little loup icon on the top right corner of your mac) and type "Terminal". Hit Enter.
      </ul>
    </li>
    <li>Type the following command:</li>
    <pre><code>gem update rails --no-ri --no-rdoc</code></pre>
    <li>Hit <strong>enter</strong></li>
  </ol>
</section>

<section class="prompt">
  <div class="option">
    <%= link_to "Next Step", next_wizard_path %>
  </div>
</section>
