<section class="instructions">
  <h1>Now we're going to update to the latest version of Rails</h1>
  <ol>
    <li>In the command line, run the following command:</li>
    <pre><code>gem update rails --no-ri --no-rdoc</code></pre>
  </ol>
</section>

<section class="prompt">
  <%= link_to "Next Step", next_wizard_path, class: "option" %>
</section>
