<section class="instructions">
  <h1>Because you don't have the latest version of Ruby, we're going to update</h1>
  <ol>
    <li>In the command line, run the following command to update to the latest stable of RVM (Ruby Version Manager):
      <pre><code>rvm get stable</code></pre>
    </li>

    <li>Then run the following command to install Ruby 2.0.0 using RVM:
      <pre><code>rvm install 2.0.0 \
      --with-openssl-dir=$HOME/.rvm/usr \
      --verify-downloads 1</code></pre>
    </li>
    <p>This command may take a few minutes</p>

    <li>Set this new version to default with:
      <pre><code>rvm use --default 2.0.0</code></pre>
    </li>

    <li>Now check what version of Ruby your system is currently using:
      <pre><code>ruby --version</code></pre>
    </li>
  </ol>
</section>

<%= render 'layouts/step_navigation' %>

<div id="trouble" class="collapse out note">
  <h4>#1 - I'm currently getting an error "Operation not permitted"</h4>
  <p>This error may also include words like: "chmod", and "Unable to change file mode on /usr/local/rvm/scripts/aliases". This is a permissions error. Running the following in your terminal should fix it:</p>
  <pre><code>$ sudo rvm get stable</code></pre>

  <hr>

  <h4>#2 - The above answer didn't work for me!</h4>
  <p>Try this in addition only if the last question didn't work for you:</p>
  <pre><code>$brew install openssl
$rvm install 2.0.0 --autolibs=1</code></pre>

  <hr>

  <h4>#3 - Warning: Your Xcode (3.2.2) is outdated</h4>
  <p>Update your current version of XCode, and/or download the latest version of Xcode from Apple. <a href="https://developer.apple.com/xcode/">XCode Download</a></p>
  <hr><br>

  <%= render 'layouts/disqus' %>
</div>
