<section class="instructions">
  <h1>Update Rails</h1>
  <ol>
    <li>Open the terminal and type the following command:</li>
    <pre><code>gem update rails --no-ri --no-rdoc</code></pre>
    <li>Hit <strong>enter</strong></li>
  </ol>
</section>

<section class="prompt">
  <div class="option">
    <%= link_to "Next Step", next_wizard_path %>
  </div>
</section>
