<section class="instructions">
  <h1>
    Good! Now let's make sure you have the latest version of Rails
  </h1>
  <ol>
    <li>
      Next, check to see if you have Rails installed by running:
       <pre><code>$ rails --version</code></pre>
    </li>
  </ol>
</section>

<section class="prompt center">
  <h2>What version of Rails do you have?</h2>
    <%= button_to "Rails 4.0", wizard_path, name: :rails_version, method: :put, class: "option" %>
    <%= button_to "Rails 3.2", wizard_path, name: :rails_version, method: :put, class: "option" %>
    <%= button_to "Nothing! I get an error.", wizard_path, name: :rails_version, method: :put, class: "option" %>
    <button type="button" class="troubleshooting" data-toggle="collapse" data-target="#trouble">Troubleshooting</button>
</section>

<div id="trouble" class="collapse out note">
  <%= render 'layouts/disqus' %>
</div>
