<section class="instructions">
  <h1>
    Making sure you have the latest version of Ruby
  </h1>
  <ol>
    <li>
      In the command line <i>(see the last step)</i>, try running:
      <pre><code>$ ruby --version</code></pre>
    </li>
  </ol>
</section>

<section class="prompt center">
  <h2>What version of Ruby do you have?</h2>
    <%= button_to "ruby 2.0", wizard_path, name: :ruby_version, method: :put, class: "option" %>
    <%= button_to "ruby 1.9", wizard_path, name: :ruby_version, method: :put, class: "option" %>
    <%= button_to "ruby 1.8", wizard_path, name: :ruby_version, method: :put, class: "option" %>
    <button type="button" class="troubleshooting" data-toggle="collapse" data-target="#trouble">Troubleshooting</button>
</section>

<div id="trouble" class="collapse out note">
  <%= render 'layouts/disqus' %>
</div>
