<section class="instructions">
  <h1>
    Verifying Your Installation
  </h1>
  <ol>
    <li>
      In the command line <i>(see the last step)</i>, try running:
      <pre><code>$ ruby --version</code></pre>
    </li>

    <li>
      Expected result:
      <pre><code>ruby 2.0.0p195 (2013-05-14 revision 40734) [x86_64-darwin12.4.0]</code></pre>
    </li>
    <li>
      Next, make sure you have Rails installed by running:
       <pre><code>$ rails --version</code></pre>
    </li>
    <li>
      Expected result:
      <pre><code>Rails 4.0.0</code></pre>
    </li>
    <li>
      <p>You may not see the exact same version<br><small>(RailsInstaller comes with 3.2 by default – we'll upgrade this in a second).</small></p>

      <p>...as long as you have some version of Rails installed,<br>you're good to go.</p>
    </li>
  </ol>
</section>

<section class="prompt center">
  <h2>What version of Rails do you have?</h2>
    <%= button_to "Rails 4.0", wizard_path, name: :rails_version, method: :put, class: "option" %>
    <%= button_to "Rails 3.2", wizard_path, name: :rails_version, method: :put, class: "option" %>
</section>

