footer {
  // height: 300px;
  color: #333;
  padding-top: 40px;
  padding-bottom: 30px;
  background: $gray-lighter;
}

.container-disqus {
	max-width: 900px;
}

#license {
  float: right;
}

#hide-cc {
  visibility: hidden;
  display: none;
}