// Place all the styles related to the install_steps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.choose_os_version {
  background-color: #5B6474;
  color: white;
}
.find_the_command_line {
  background-color: #3B4960;
  color: white;
}
.railsinstaller {
  background-color: #CE613E;
  color: white;
}
.verify_installation {
  background-color: #65AE55;
  color: white;
}
.configure_git {
  background-color: #8E59BC;
  color: white;
}
header {
  padding-bottom: 20px;
  background-color: #db522f;
  .nav {
    margin-top: 34px;
  }
  a {
    color: white;
  }
}

a {
  color: #db522f;
  &:hover {
    color: darken(#db522f, 10%);
  }
}


.instructions {
  font-size: 20px;
  line-height: 20px;
  li {
    padding-top: 30px;
    padding-bottom: 10px;
  }
  img {
    display: block;
  }
}

.prompt {
  .options {
    padding-top: 20px;
  }
  .button_to  {
    margin-top: 5px;
    display: inline-block;
  }
  .option {
    background-color: #515151;
    border-color: #515151;
    @extend .btn;
    @extend .btn-large;
    @extend .btn-primary;
    &:hover {
      background-color: #3B3C3C;
      border-color: #3B3C3C;
    }
  }
}

.debug_dump {

}

.list-image {
  margin: 10px;
}


#disqus_thread {
  margin-top: 94px;
}






