/* BASE FONTS */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Rokkitt:400,700);

$sansFontFamily: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily: 'Rokkitt', Georgia, "Times New Roman", Times, serif;

body {
  letter-spacing: .08em;
  font-weight: 300;
}

h1 {
  font-family: $sansFontFamily;
  font-weight: 300;
  margin: 1em 0;
  text-align: center;
  text-shadow: 0 0 2px rgb(151, 151, 151);
}

h2 , h3, h4{
  font-family: $sansFontFamily;
}

strong {
  font-weight: 400;
}

i {
  font-size: 15px;
}

pre {
  margin: 1.4em 0;
}

/* SECTIONS */

section {
  padding-top: 2em;
}

#confetti {
  z-index: -1;
  position: fixed;
  margin-left: -10%;
}

.install_steps.show {
  color: white;
}

.install_steps.show {
  &.congratulations, &.choose_os {
    color: #3B3C3C;
  }
}

.choose_os_version, .install_rails, .update_rubygems {
  background-color: #5B6474;

  .note:before {
    border-color:#fff #5B6474 rgba(255,255,255,0.2) #658E15;
  }
}

.railsinstaller, .railsinstaller_windows {
  .option {
    background-color: rgba(255,255,255,0.9);
    border-color: #fff;
    color: #72B49B;
    @extend .btn;
    @extend .btn-large;
    @extend .btn-primary;
  }

  .note:before {
    border-color:#fff #72B49B rgba(255,255,255,0.2) #658E15;
  }
}

#prompt {
  color: #8FE7B3;
  padding: 1.7em;
}

.find_the_command_line, .install_rvm_and_ruby {
  background-color: #3B4960;

  .note:before {
    border-color:#fff #3B4960 rgba(255,255,255,0.2) #658E15;
  }
}

.railsinstaller, .rails_for_linux_and_other, .install_git, .railsinstaller_windows {
  background-color: #CE613E;

  .prompt {
    .troubleshooting {
      min-width: 175px;
      text-align: center;
      background-color: #3B4960;
      border-color: #3B4960;
      margin-bottom: 3px;

      @extend .btn;
      @extend .btn-large;
      @extend .btn-primary;

      &:hover {
        background-color: #5B6474;
        border-color: #5B6474;
      }
    }
  }

  .note:before {
    border-color:#fff #CE613E rgba(255,255,255,0.2) #CE613E;
  }
}

.verify_ruby_version, .install_xcode, .textmate {
  background-color: #65AE55;

  .note:before {
    border-color:#fff #65AE55 rgba(255,255,255,0.2) #658E15;
  }
}

.configure_git, .find_git_bash, .install_homebrew, .verify_rails_version {
  background-color: #8E59BC;

  .note:before {
    border-color:#fff #8E59BC rgba(255,255,255,0.2) #658E15;
  }
}

.sublime_text, .update_ruby, .create_ssh_key {
  background-color: #72B49B;

  .option {
    background-color: #fff;
    border-color: #fff;
    color: #72B49B;
    @extend .btn;
    @extend .btn-large;
    @extend .btn-primary;
  }

  .note:before {
    border-color:#fff #72B49B rgba(255,255,255,0.2) #72B49B;
  }
}

.create_your_first_app, .update_rails {
  background: #CF7C00;

  .note:before {
    border-color:#fff #CF7C00 rgba(255,255,255,0.2) #658E15;
  }
}

.see_it_live {
  background: #5181BD;

  .note:before {
    border-color:#fff #5181BD rgba(255,255,255,0.2) #658E15;
  }
}

.choose_your_os {
  padding: 30px;
}

.congratulations a {
  color: #5181BD;
}

header {
  background-color: #eeeeee;

  .site-title {
    margin: 20px;
    color: #333;

    &:hover {
      color: black;
    }
  }

  .nav {
    margin-top: 34px;
  }

  a {
    color: #333;
  }
}

.instructions {
  // text-align: center;
  font-size: 20px;
  line-height: 1.4;
  margin: 0 15%;

  li {
    margin-bottom: 30px;

    ul, pre {
      text-align: left;
    }
  }

  img {
    padding: 1.4em 0;
  }
}

.center {
  text-align: center;
  margin: auto;
  display: block;
}

.prompt {
  padding-bottom: 40px;
  max-width: 100%;

  .options {
    padding-top: 20px;
  }

  .button_to  {
    margin-top: 5px;
    display: inline-block;
  }

  .option {
    min-width: 175px;
    text-align: center;
    background-color: #515151;
    border-color: #515151;
    margin-bottom: 3px;

    @extend .btn;
    @extend .btn-large;
    @extend .btn-primary;

    &:hover {
      background-color: #3B3C3C;
      border-color: #3B3C3C;
    }
  }

  .troubleshooting {
    min-width: 175px;
    text-align: center;
    background-color: #d9534f;
    border-color: #d9534f;
    margin-bottom: 3px;

    @extend .btn;
    @extend .btn-large;
    @extend .btn-primary;

    &:hover {
      background-color: #c9302c;
      border-color: #c9302c;
    }
  }
}

.list-image {
  margin: 10px;
}

/* folded corner
http://nicolasgallagher.com/pure-css-folded-corner-effect/
 */

.note {
  background: rgba(255,255,255,0.2);
  color: #fff;
  font-size: 90%;
  margin-bottom: 2em;
  margin-top: 2em;
  overflow: hidden;
  padding: 1em 1.5em;
  position: relative;

  &:before {
    content:"";
    position:absolute;
    top:0;
    right:0;
    border-width:0 16px 16px 0;
    border-style:solid;
    // border-color:#fff #CF7C00 rgba(255,255,255,0.2) #658E15;
    background: rgba(255,255,255,1);
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    display:block; width:0; /* Firefox 3.0 damage limitation */
  }

  &.rounded {
    -webkit-border-radius:5px 0 5px 5px;
    -moz-border-radius:5px 0 5px 5px;
    border-radius:5px 0 5px 5px;

    &:before {
      border-width:8px;
      border-color:#fff #fff transparent transparent;
      -webkit-border-bottom-left-radius:5px;
      -moz-border-radius:0 0 0 5px;
      border-radius:0 0 0 5px;
    }
  }
}

#git-intro {
  background: rgba(255, 255, 255, 0.2);
  padding: 1%;
  border-radius: 2px;
  box-shadow: 0 0 1px rgb(85, 85, 85);
}

// Clearfix
// --------
// For clearing floats like a boss h5bp.com/q
.clearfix {
  *zoom: 1;

  &:before, &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }

  &:after {
    clear: both;
  }
}
